In [1]:
import pymongo

conn = pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["mydatabase"]
cols = db["Collection2"]

In [4]:
values = [
  {"firstname": "Ethan", "lastname": "Johnson", "Age": 26, "course": "mca", "grade": "A", "mark": 90, "dept": "CS", "place": "Los Angeles", "gender": "Male"},
  {"firstname": "Ava", "lastname": "Martinez", "Age": 24, "course": "bba", "grade": "B", "mark": 78, "dept": "Business", "place": "Chicago", "gender": "Female"},
  {"firstname": "Mason", "lastname": "Wilson", "Age": 28, "course": "btech", "grade": "A", "mark": 85, "dept": "Mechanical", "place": "Houston", "gender": "Male"},
  {"firstname": "Isabella", "lastname": "Taylor", "Age": 23, "course": "bsc", "grade": "C", "mark": 68, "dept": "Physics", "place": "Boston", "gender": "Female"},
  {"firstname": "James", "lastname": "Harris", "Age": 31, "course": "mba", "grade": "A", "mark": 92, "dept": "Finance", "place": "Miami", "gender": "Male"},
  {"firstname": "Emma", "lastname": "Watson", "Age": 25, "course": "mba", "grade": "B", "mark": 76, "dept": "Management", "place": "New York", "gender": "Female"},
  {"firstname": "Liam", "lastname": "Anderson", "Age": 30, "course": "btech", "grade": "A", "mark": 91, "dept": "IT", "place": "San Francisco", "gender": "Male"},
  {"firstname": "Olivia", "lastname": "Brown", "Age": 22, "course": "bsc", "grade": "C", "mark": 65, "dept": "Biology", "place": "Toronto", "gender": "Female"},
  {"firstname": "Noah", "lastname": "Smith", "Age": 27, "course": "mca", "grade": "A", "mark": 89, "dept": "CS", "place": "Sydney", "gender": "Male"},
  {"firstname": "Sophia", "lastname": "Davis", "Age": 29, "course": "msc", "grade": "B", "mark": 80, "dept": "Mathematics", "place": "Berlin", "gender": "Female"}
]

In [5]:
cols.insert_many(values)

InsertManyResult([ObjectId('67e2485cb02f8ee23c7d63d5'), ObjectId('67e2485cb02f8ee23c7d63d6'), ObjectId('67e2485cb02f8ee23c7d63d7'), ObjectId('67e2485cb02f8ee23c7d63d8'), ObjectId('67e2485cb02f8ee23c7d63d9'), ObjectId('67e2485cb02f8ee23c7d63da'), ObjectId('67e2485cb02f8ee23c7d63db'), ObjectId('67e2485cb02f8ee23c7d63dc'), ObjectId('67e2485cb02f8ee23c7d63dd'), ObjectId('67e2485cb02f8ee23c7d63de')], acknowledged=True)

In [8]:
var=cols.find({"$and":[{"course":"mba"},{"gender":"Female"}]},{"firstname":1,"lastname":1,"mark":1,"_id":0})
for i in var:
    print(i)

{'firstname': 'Emma', 'lastname': 'Watson', 'mark': 76}

In [13]:
var=cols.find({"course":"mca"},{"_id":0}).sort({"mark":-1}).limit(1)
for i in var:
    print(i)

{'firstname': 'Ethan', 'lastname': 'Johnson', 'Age': 26, 'course': 'mca', 'grade': 'A', 'mark': 90, 'dept': 'CS', 'place': 'Los Angeles', 'gender': 'Male'}

In [14]:
var=cols.find({"$and":[{"gender":"Male"},{"grade":"A"}]},{"_id":0})
for i in var:
    print(i)

{'firstname': 'Ethan', 'lastname': 'Johnson', 'Age': 26, 'course': 'mca', 'grade': 'A', 'mark': 90, 'dept': 'CS', 'place': 'Los Angeles', 'gender': 'Male'}
{'firstname': 'Mason', 'lastname': 'Wilson', 'Age': 28, 'course': 'btech', 'grade': 'A', 'mark': 85, 'dept': 'Mechanical', 'place': 'Houston', 'gender': 'Male'}
{'firstname': 'James', 'lastname': 'Harris', 'Age': 31, 'course': 'mba', 'grade': 'A', 'mark': 92, 'dept': 'Finance', 'place': 'Miami', 'gender': 'Male'}
{'firstname': 'Liam', 'lastname': 'Anderson', 'Age': 30, 'course': 'btech', 'grade': 'A', 'mark': 91, 'dept': 'IT', 'place': 'San Francisco', 'gender': 'Male'}
{'firstname': 'Noah', 'lastname': 'Smith', 'Age': 27, 'course': 'mca', 'grade': 'A', 'mark': 89, 'dept': 'CS', 'place': 'Sydney', 'gender': 'Male'}

In [15]:
var=cols.find({"mark":{"$gt":90}},{"_id":0})
for i in var:
    print(i)

{'firstname': 'James', 'lastname': 'Harris', 'Age': 31, 'course': 'mba', 'grade': 'A', 'mark': 92, 'dept': 'Finance', 'place': 'Miami', 'gender': 'Male'}
{'firstname': 'Liam', 'lastname': 'Anderson', 'Age': 30, 'course': 'btech', 'grade': 'A', 'mark': 91, 'dept': 'IT', 'place': 'San Francisco', 'gender': 'Male'}

In [18]:
var = cols.find({"course":"mba"},{"_id":0,"firstname":1}).sort({"mark":-1}).limit(2)
for i in var:
    print(i)

{'firstname': 'James'}
{'firstname': 'Emma'}