# Create Database & Collection and insert values to the Collection

### Connecting Mongodb

In [5]:
import pymongo

conn = pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["mydatabase"]
cols = db["collection1"]

### Inserting Values

In [30]:
values = [
    {"Name": "Ethan Johnson", "Age": 21, "Place": "Los Angeles"},
    {"Name": "Ava Martinez", "Age": 24, "Place": "Chicago"},
    {"Name": "Mason Wilson", "Age": 21, "Place": "Houston"},
    {"Name": "Isabella Taylor", "Age": 23, "Place": "Los Angeles"},
    {"Name": "James Harris", "Age": 26, "Place": "Miami"},
    {"Name": "Emma Watson", "Age": 21, "Place": "Chicago"},
    {"Name": "Liam Anderson", "Age": 30, "Place": "San Francisco"},
    {"Name": "Olivia Brown", "Age": 21, "Place": "Toronto"},
    {"Name": "Noah Smith", "Age": 27, "Place": "Houston"},
    {"Name": "Sophia Davis", "Age": 21, "Place": "Berlin"},
]

In [31]:
cols.insert_many(values)

InsertManyResult([ObjectId('67ebad7875055e79d7d1e393'), ObjectId('67ebad7875055e79d7d1e394'), ObjectId('67ebad7875055e79d7d1e395'), ObjectId('67ebad7875055e79d7d1e396'), ObjectId('67ebad7875055e79d7d1e397'), ObjectId('67ebad7875055e79d7d1e398'), ObjectId('67ebad7875055e79d7d1e399'), ObjectId('67ebad7875055e79d7d1e39a'), ObjectId('67ebad7875055e79d7d1e39b'), ObjectId('67ebad7875055e79d7d1e39c')], acknowledged=True)

### Displaying Details of Students with age 21

In [32]:
var=cols.find({"Age":21},{"_id":0})
for i in var:
    print(i)

{'Name': 'Ethan Johnson', 'Age': 21, 'Place': 'Los Angeles'}
{'Name': 'Mason Wilson', 'Age': 21, 'Place': 'Houston'}
{'Name': 'Emma Watson', 'Age': 21, 'Place': 'Chicago'}
{'Name': 'Olivia Brown', 'Age': 21, 'Place': 'Toronto'}
{'Name': 'Sophia Davis', 'Age': 21, 'Place': 'Berlin'}

### Displaying Name of the Students with Age 21

In [33]:
vars=cols.find({"Age":21},{"Name":2,"_id":0})
for i in vars:
    print(i)

{'Name': 'Ethan Johnson'}
{'Name': 'Mason Wilson'}
{'Name': 'Emma Watson'}
{'Name': 'Olivia Brown'}
{'Name': 'Sophia Davis'}

### Displaying Details of Students with Age 21 and Place Chicago

In [36]:
var1=cols.find({"$and":[{"Age":21},{"Place":"Chicago"}]},{"_id":0,})
for i in var1:
    print(i)

{'Name': 'Emma Watson', 'Age': 21, 'Place': 'Chicago'}

### Displaying Details of Students with Age 21 or Place Chicago

In [38]:
var1=cols.find({"$or":[{"Age":21},{"Place":"Chicago"}]},{"_id":0,})
for i in var1:
    print(i)

{'Name': 'Ethan Johnson', 'Age': 21, 'Place': 'Los Angeles'}
{'Name': 'Ava Martinez', 'Age': 24, 'Place': 'Chicago'}
{'Name': 'Mason Wilson', 'Age': 21, 'Place': 'Houston'}
{'Name': 'Emma Watson', 'Age': 21, 'Place': 'Chicago'}
{'Name': 'Olivia Brown', 'Age': 21, 'Place': 'Toronto'}
{'Name': 'Sophia Davis', 'Age': 21, 'Place': 'Berlin'}

### Updating Place to New York of the Students With Age 21

In [39]:
cond = {"Age":21}
newvalue = {"$set":{"Place":"New York"}}
cols.update_many(cond,newvalue)

UpdateResult({'n': 5, 'nModified': 5, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

### Updating Place to Berlin of the Students With Age 23

In [40]:
conds={"Age":23}
newvalue={"$set":{"Place":"Berlin"}}
cols.update_many(conds,newvalue)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

### Inserting A new Value

In [41]:
values =[{"Name":"Simon","Age":25,"Place":"Paris"}]
cols.insert_many(values)

InsertManyResult([ObjectId('67ebae8975055e79d7d1e39d')], acknowledged=True)

### Deleting Students with Age 23

In [42]:
cols.delete_many({"Age":23})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

### Displaying Details of Students with Age is greater than 25

In [44]:
var=cols.find({"Age":{"$gt":25}},{"_id":0})
for i in var:
    print(i)

{'Name': 'James Harris', 'Age': 26, 'Place': 'Miami'}
{'Name': 'Liam Anderson', 'Age': 30, 'Place': 'San Francisco'}
{'Name': 'Noah Smith', 'Age': 27, 'Place': 'Houston'}

### Displaying Details of Students with Age is Less than 25

In [49]:
var=cols.find({"Age":{"$lt":25}},{"_id":0}) 
for i in var:
    print(i)

{'Name': 'Ethan Johnson', 'Age': 21, 'Place': 'New York'}
{'Name': 'Ava Martinez', 'Age': 24, 'Place': 'Chicago'}
{'Name': 'Mason Wilson', 'Age': 21, 'Place': 'New York'}
{'Name': 'Emma Watson', 'Age': 21, 'Place': 'New York'}
{'Name': 'Olivia Brown', 'Age': 21, 'Place': 'New York'}
{'Name': 'Sophia Davis', 'Age': 21, 'Place': 'New York'}

### Displaying Students with name Starting with S

In [46]:
var=cols.find({"Name":{"$regex":"^S"}},{"_id":0})
for i in var:
    print(i)

{'Name': 'Sophia Davis', 'Age': 21, 'Place': 'New York'}
{'Name': 'Simon', 'Age': 25, 'Place': 'Paris'}

### 7. Displaying Students with name Ends with n

In [48]:
var=cols.find({"Name":{"$regex":"n$"}},{"_id":0})
for i in var:
    print(i)

{'Name': 'Ethan Johnson', 'Age': 21, 'Place': 'New York'}
{'Name': 'Mason Wilson', 'Age': 21, 'Place': 'New York'}
{'Name': 'Emma Watson', 'Age': 21, 'Place': 'New York'}
{'Name': 'Liam Anderson', 'Age': 30, 'Place': 'San Francisco'}
{'Name': 'Olivia Brown', 'Age': 21, 'Place': 'New York'}
{'Name': 'Simon', 'Age': 25, 'Place': 'Paris'}