# create Database & Collection and insert values to the Collection

### Connecting Mongodb

In [39]:
import pymongo

conn = pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["mydatabase"]
cols = db["Collection2"]

### Inserting values

In [40]:
values = [
  {"firstname": "Ethan", "lastname": "Johnson", "Age": 26, "course": "mca", "grade": "A", "mark": 90, "dept": "CS", "place": "Los Angeles", "gender": "Male"},
  {"firstname": "Ava", "lastname": "Martinez", "Age": 24, "course": "bba", "grade": "B", "mark": 78, "dept": "Business", "place": "Chicago", "gender": "Female"},
  {"firstname": "Mason", "lastname": "Wilson", "Age": 28, "course": "btech", "grade": "A", "mark": 85, "dept": "Mechanical", "place": "Houston", "gender": "Male"},
  {"firstname": "Isabella", "lastname": "Taylor", "Age": 23, "course": "bsc", "grade": "C", "mark": 68, "dept": "Physics", "place": "Boston", "gender": "Female"},
  {"firstname": "James", "lastname": "Harris", "Age": 31, "course": "mba", "grade": "A", "mark": 92, "dept": "Finance", "place": "Miami", "gender": "Male"},
  {"firstname": "Emma", "lastname": "Watson", "Age": 25, "course": "mba", "grade": "B", "mark": 76, "dept": "Management", "place": "New York", "gender": "Female"},
  {"firstname": "Liam", "lastname": "Anderson", "Age": 30, "course": "btech", "grade": "A", "mark": 91, "dept": "Mechanical", "place": "San Francisco", "gender": "Male"},
  {"firstname": "Olivia", "lastname": "Brown", "Age": 22, "course": "bsc", "grade": "C", "mark": 65, "dept": "Biology", "place": "Toronto", "gender": "Female"},
  {"firstname": "Noah", "lastname": "Smith", "Age": 27, "course": "mca", "grade": "A", "mark": 89, "dept": "CS", "place": "Sydney", "gender": "Male"},
  {"firstname": "Sophia", "lastname": "Davis", "Age": 29, "course": "msc", "grade": "B", "mark": 80, "dept": "Mathematics", "place": "Berlin", "gender": "Female"},
  {"firstname": "Daniel", "lastname": "Miller", "Age": 26, "course": "mca", "grade": "A", "mark": 92, "dept": "CS", "place": "Seattle", "gender": "Male"},
  {"firstname": "Mia", "lastname": "Garcia", "Age": 25, "course": "mca", "grade": "B", "mark": 81, "dept": "CS", "place": "Austin", "gender": "Female"},
  {"firstname": "Lucas", "lastname": "Clark", "Age": 28, "course": "mca", "grade": "A", "mark": 95, "dept": "IT", "place": "San Diego", "gender": "Male"},
  {"firstname": "Harper", "lastname": "Rodriguez", "Age": 27, "course": "mca", "grade": "B", "mark": 84, "dept": "CS", "place": "Denver", "gender": "Female"},
  {"firstname": "Elijah", "lastname": "Lewis", "Age": 24, "course": "mca", "grade": "A", "mark": 88, "dept": "CS", "place": "Las Vegas", "gender": "Male"},
  {"firstname": "Benjamin", "lastname": "Walker", "Age": 26, "course": "btech", "grade": "A", "mark": 90, "dept": "Mechanical", "place": "Dallas", "gender": "Male"},
  {"firstname": "Amelia", "lastname": "Hall", "Age": 25, "course": "btech", "grade": "B", "mark": 83, "dept": "Mechanical", "place": "Phoenix", "gender": "Female"},
  {"firstname": "Henry", "lastname": "Allen", "Age": 28, "course": "btech", "grade": "A", "mark": 89, "dept": "Mechanical", "place": "Detroit", "gender": "Male"},
  {"firstname": "Charlotte", "lastname": "Young", "Age": 27, "course": "btech", "grade": "A", "mark": 94, "dept": "Mechanical", "place": "San Antonio", "gender": "Female"},
  {"firstname": "Alexander", "lastname": "King", "Age": 29, "course": "btech", "grade": "A", "mark": 91, "dept": "Mechanical", "place": "Philadelphia", "gender": "Male"},
  {"firstname": "Evelyn", "lastname": "Scott", "Age": 26, "course": "btech", "grade": "B", "mark": 86, "dept": "Mechanical", "place": "Orlando", "gender": "Female"},
  {"firstname": "William", "lastname": "Adams", "Age": 30, "course": "mca", "grade": "A", "mark": 87, "dept": "IT", "place": "Toronto", "gender": "Male"},
  {"firstname": "Ella", "lastname": "Nelson", "Age": 23, "course": "mca", "grade": "B", "mark": 80, "dept": "CS", "place": "Atlanta", "gender": "Female"},
  {"firstname": "Jack", "lastname": "Baker", "Age": 27, "course": "bsc", "grade": "A", "mark": 85, "dept": "Physics", "place": "New York", "gender": "Male"}
]

In [41]:
cols.insert_many(values)

InsertManyResult([ObjectId('67e280a0f7bcf550631f4233'), ObjectId('67e280a0f7bcf550631f4234'), ObjectId('67e280a0f7bcf550631f4235'), ObjectId('67e280a0f7bcf550631f4236'), ObjectId('67e280a0f7bcf550631f4237'), ObjectId('67e280a0f7bcf550631f4238'), ObjectId('67e280a0f7bcf550631f4239'), ObjectId('67e280a0f7bcf550631f423a'), ObjectId('67e280a0f7bcf550631f423b'), ObjectId('67e280a0f7bcf550631f423c'), ObjectId('67e280a0f7bcf550631f423d'), ObjectId('67e280a0f7bcf550631f423e'), ObjectId('67e280a0f7bcf550631f423f'), ObjectId('67e280a0f7bcf550631f4240'), ObjectId('67e280a0f7bcf550631f4241'), ObjectId('67e280a0f7bcf550631f4242'), ObjectId('67e280a0f7bcf550631f4243'), ObjectId('67e280a0f7bcf550631f4244'), ObjectId('67e280a0f7bcf550631f4245'), ObjectId('67e280a0f7bcf550631f4246'), ObjectId('67e280a0f7bcf550631f4247'), ObjectId('67e280a0f7bcf550631f4248'), ObjectId('67e280a0f7bcf550631f4249'), ObjectId('67e280a0f7bcf550631f424a')], acknowledged=True)

### 1. Displaying name (both firstname & last name) and mark of all Female Students in MCA

In [42]:
var=cols.find({"$and":[{"course":"mca"},{"gender":"Female"}]},{"firstname":1,"lastname":1,"mark":1,"gender":1,"_id":0})
for i in var:
    print(i)

{'firstname': 'Mia', 'lastname': 'Garcia', 'mark': 81, 'gender': 'Female'}
{'firstname': 'Harper', 'lastname': 'Rodriguez', 'mark': 84, 'gender': 'Female'}
{'firstname': 'Ella', 'lastname': 'Nelson', 'mark': 80, 'gender': 'Female'}
{'firstname': 'Mia', 'lastname': 'Garcia', 'mark': 81, 'gender': 'Female'}
{'firstname': 'Harper', 'lastname': 'Rodriguez', 'mark': 84, 'gender': 'Female'}
{'firstname': 'Ella', 'lastname': 'Nelson', 'mark': 80, 'gender': 'Female'}

### 2. Displaying the Details of Students who Scored Highest mark in the course MCA

In [43]:
var=cols.find({"course":"mca"},{"_id":0,"firstname":1,"lastname":1,"course":1,"mark":1}).sort({"mark":-1}).limit(1)
for i in var:
    print(i)

{'firstname': 'Lucas', 'lastname': 'Clark', 'course': 'mca', 'mark': 95}

### 3. Displaying all Male Students who got A grade

In [44]:
var=cols.find({"$and":[{"gender":"Male"},{"grade":"A"}]},{"_id":0,"firstname":1,"lastname":1,"mark":1,"gender":1})
for i in var:
    print(i)

{'firstname': 'Ethan', 'lastname': 'Johnson', 'mark': 90, 'gender': 'Male'}
{'firstname': 'Mason', 'lastname': 'Wilson', 'mark': 85, 'gender': 'Male'}
{'firstname': 'James', 'lastname': 'Harris', 'mark': 92, 'gender': 'Male'}
{'firstname': 'Liam', 'lastname': 'Anderson', 'mark': 91, 'gender': 'Male'}
{'firstname': 'Noah', 'lastname': 'Smith', 'mark': 89, 'gender': 'Male'}
{'firstname': 'Daniel', 'lastname': 'Miller', 'mark': 92, 'gender': 'Male'}
{'firstname': 'Lucas', 'lastname': 'Clark', 'mark': 95, 'gender': 'Male'}
{'firstname': 'Elijah', 'lastname': 'Lewis', 'mark': 88, 'gender': 'Male'}
{'firstname': 'Benjamin', 'lastname': 'Walker', 'mark': 90, 'gender': 'Male'}
{'firstname': 'Henry', 'lastname': 'Allen', 'mark': 89, 'gender': 'Male'}
{'firstname': 'Alexander', 'lastname': 'King', 'mark': 91, 'gender': 'Male'}
{'firstname': 'William', 'lastname': 'Adams', 'mark': 87, 'gender': 'Male'}
{'firstname': 'Jack', 'lastname': 'Baker', 'mark': 85, 'gender': 'Male'}
{'firstname': 'Ethan', 'lastname': 'Johnson', 'mark': 90, 'gender': 'Male'}
{'firstname': 'Mason', 'lastname': 'Wilson', 'mark': 85, 'gender': 'Male'}
{'firstname': 'James', 'lastname': 'Harris', 'mark': 92, 'gender': 'Male'}
{'firstname': 'Liam', 'lastname': 'Anderson', 'mark': 91, 'gender': 'Male'}
{'firstname': 'Noah', 'lastname': 'Smith', 'mark': 89, 'gender': 'Male'}
{'firstname': 'Daniel', 'lastname': 'Miller', 'mark': 92, 'gender': 'Male'}
{'firstname': 'Lucas', 'lastname': 'Clark', 'mark': 95, 'gender': 'Male'}
{'firstname': 'Elijah', 'lastname': 'Lewis', 'mark': 88, 'gender': 'Male'}
{'firstname': 'Benjamin', 'lastname': 'Walker', 'mark': 90, 'gender': 'Male'}
{'firstname': 'Henry', 'lastname': 'Allen', 'mark': 89, 'gender': 'Male'}
{'firstname': 'Alexander', 'lastname': 'King', 'mark': 91, 'gender': 'Male'}
{'firstname': 'William', 'lastname': 'Adams', 'mark': 87, 'gender': 'Male'}
{'firstname': 'Jack', 'lastname': 'Baker', 'mark': 85, 'gender': 'Male'}

### 4. Displaying Top 5 Students in Mechanical department

In [45]:
var = cols.find({"dept":"Mechanical"},{"_id":0,"firstname":1,"lastname":1,"mark":1}).sort({"mark":-1}).limit(5)
for i in var:
    print(i)

{'firstname': 'Charlotte', 'lastname': 'Young', 'mark': 94}
{'firstname': 'Charlotte', 'lastname': 'Young', 'mark': 94}
{'firstname': 'Liam', 'lastname': 'Anderson', 'mark': 91}
{'firstname': 'Liam', 'lastname': 'Anderson', 'mark': 91}
{'firstname': 'Alexander', 'lastname': 'King', 'mark': 91}

### 5. Displaying Female Students with mark more than 90

In [46]:
var=cols.find({"$and":[{"gender":"Female"},{"mark":{"$gt":90}}]},{"_id":0,"firstname":1,"lastname":1,"mark":1,"gender":1})
for i in var:
    print(i)

{'firstname': 'Charlotte', 'lastname': 'Young', 'mark': 94, 'gender': 'Female'}
{'firstname': 'Charlotte', 'lastname': 'Young', 'mark': 94, 'gender': 'Female'}

### 6. Displaying the Students with marks between 80 and 90

In [47]:
var=cols.find({"mark": {"$gt":80,"$lt":90}},{"_id":0,"firstname":1,"mark":1})
for i in var:
    print(i)

{'firstname': 'Mason', 'mark': 85}
{'firstname': 'Noah', 'mark': 89}
{'firstname': 'Mia', 'mark': 81}
{'firstname': 'Harper', 'mark': 84}
{'firstname': 'Elijah', 'mark': 88}
{'firstname': 'Amelia', 'mark': 83}
{'firstname': 'Henry', 'mark': 89}
{'firstname': 'Evelyn', 'mark': 86}
{'firstname': 'William', 'mark': 87}
{'firstname': 'Jack', 'mark': 85}
{'firstname': 'Mason', 'mark': 85}
{'firstname': 'Noah', 'mark': 89}
{'firstname': 'Mia', 'mark': 81}
{'firstname': 'Harper', 'mark': 84}
{'firstname': 'Elijah', 'mark': 88}
{'firstname': 'Amelia', 'mark': 83}
{'firstname': 'Henry', 'mark': 89}
{'firstname': 'Evelyn', 'mark': 86}
{'firstname': 'William', 'mark': 87}
{'firstname': 'Jack', 'mark': 85}

### 7. Displaying Students with name Starting with A

In [48]:
var=cols.find({"firstname":{"$regex":"^A"}},{"_id":0,})
for i in var:
    print(i)

{'firstname': 'Ava', 'lastname': 'Martinez', 'Age': 24, 'course': 'bba', 'grade': 'B', 'mark': 78, 'dept': 'Business', 'place': 'Chicago', 'gender': 'Female'}
{'firstname': 'Amelia', 'lastname': 'Hall', 'Age': 25, 'course': 'btech', 'grade': 'B', 'mark': 83, 'dept': 'Mechanical', 'place': 'Phoenix', 'gender': 'Female'}
{'firstname': 'Alexander', 'lastname': 'King', 'Age': 29, 'course': 'btech', 'grade': 'A', 'mark': 91, 'dept': 'Mechanical', 'place': 'Philadelphia', 'gender': 'Male'}
{'firstname': 'Ava', 'lastname': 'Martinez', 'Age': 24, 'course': 'bba', 'grade': 'B', 'mark': 78, 'dept': 'Business', 'place': 'Chicago', 'gender': 'Female'}
{'firstname': 'Amelia', 'lastname': 'Hall', 'Age': 25, 'course': 'btech', 'grade': 'B', 'mark': 83, 'dept': 'Mechanical', 'place': 'Phoenix', 'gender': 'Female'}
{'firstname': 'Alexander', 'lastname': 'King', 'Age': 29, 'course': 'btech', 'grade': 'A', 'mark': 91, 'dept': 'Mechanical', 'place': 'Philadelphia', 'gender': 'Male'}

### 8. Displaying Students from New York

In [49]:
var=cols.find({"place":"New York"},{"_id":0,"firstname":1,"lastname":1,"place":1})
for i in var:
    print(i)

{'firstname': 'Emma', 'lastname': 'Watson', 'place': 'New York'}
{'firstname': 'Jack', 'lastname': 'Baker', 'place': 'New York'}
{'firstname': 'Emma', 'lastname': 'Watson', 'place': 'New York'}
{'firstname': 'Jack', 'lastname': 'Baker', 'place': 'New York'}

### 8. Displaying Students neither from Los Angeles nor from Toronto

In [50]:
var=cols.find({"place":{"$nin":["Los Angeles","Toronto"]}},{"_id":0,"firstname":1,"lastname":1,"place":1})
for i in var:
    print(i)

{'firstname': 'Ava', 'lastname': 'Martinez', 'place': 'Chicago'}
{'firstname': 'Mason', 'lastname': 'Wilson', 'place': 'Houston'}
{'firstname': 'Isabella', 'lastname': 'Taylor', 'place': 'Boston'}
{'firstname': 'James', 'lastname': 'Harris', 'place': 'Miami'}
{'firstname': 'Emma', 'lastname': 'Watson', 'place': 'New York'}
{'firstname': 'Liam', 'lastname': 'Anderson', 'place': 'San Francisco'}
{'firstname': 'Noah', 'lastname': 'Smith', 'place': 'Sydney'}
{'firstname': 'Sophia', 'lastname': 'Davis', 'place': 'Berlin'}
{'firstname': 'Daniel', 'lastname': 'Miller', 'place': 'Seattle'}
{'firstname': 'Mia', 'lastname': 'Garcia', 'place': 'Austin'}
{'firstname': 'Lucas', 'lastname': 'Clark', 'place': 'San Diego'}
{'firstname': 'Harper', 'lastname': 'Rodriguez', 'place': 'Denver'}
{'firstname': 'Elijah', 'lastname': 'Lewis', 'place': 'Las Vegas'}
{'firstname': 'Benjamin', 'lastname': 'Walker', 'place': 'Dallas'}
{'firstname': 'Amelia', 'lastname': 'Hall', 'place': 'Phoenix'}
{'firstname': 'Henry', 'lastname': 'Allen', 'place': 'Detroit'}
{'firstname': 'Charlotte', 'lastname': 'Young', 'place': 'San Antonio'}
{'firstname': 'Alexander', 'lastname': 'King', 'place': 'Philadelphia'}
{'firstname': 'Evelyn', 'lastname': 'Scott', 'place': 'Orlando'}
{'firstname': 'Ella', 'lastname': 'Nelson', 'place': 'Atlanta'}
{'firstname': 'Jack', 'lastname': 'Baker', 'place': 'New York'}
{'firstname': 'Ava', 'lastname': 'Martinez', 'place': 'Chicago'}
{'firstname': 'Mason', 'lastname': 'Wilson', 'place': 'Houston'}
{'firstname': 'Isabella', 'lastname': 'Taylor', 'place': 'Boston'}
{'firstname': 'James', 'lastname': 'Harris', 'place': 'Miami'}
{'firstname': 'Emma', 'lastname': 'Watson', 'place': 'New York'}
{'firstname': 'Liam', 'lastname': 'Anderson', 'place': 'San Francisco'}
{'firstname': 'Noah', 'lastname': 'Smith', 'place': 'Sydney'}
{'firstname': 'Sophia', 'lastname': 'Davis', 'place': 'Berlin'}
{'firstname': 'Daniel', 'lastname': 'Miller', 'place': 'Seattle'}
{'firstname': 'Mia', 'lastname': 'Garcia', 'place': 'Austin'}
{'firstname': 'Lucas', 'lastname': 'Clark', 'place': 'San Diego'}
{'firstname': 'Harper', 'lastname': 'Rodriguez', 'place': 'Denver'}
{'firstname': 'Elijah', 'lastname': 'Lewis', 'place': 'Las Vegas'}
{'firstname': 'Benjamin', 'lastname': 'Walker', 'place': 'Dallas'}
{'firstname': 'Amelia', 'lastname': 'Hall', 'place': 'Phoenix'}
{'firstname': 'Henry', 'lastname': 'Allen', 'place': 'Detroit'}
{'firstname': 'Charlotte', 'lastname': 'Young', 'place': 'San Antonio'}
{'firstname': 'Alexander', 'lastname': 'King', 'place': 'Philadelphia'}
{'firstname': 'Evelyn', 'lastname': 'Scott', 'place': 'Orlando'}
{'firstname': 'Ella', 'lastname': 'Nelson', 'place': 'Atlanta'}
{'firstname': 'Jack', 'lastname': 'Baker', 'place': 'New York'}