# Create Database & Collection and insert values to the Collection

### Connecting Mongodb

In [5]:
import pymongo

conn = pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["mydatabase"]
cols = db["collection1"]

### Inserting Values

In [6]:
values = [{"Name" : "Sandra", "Age" : 21, "Place" : "Ernakulam"}, {"Name" : "Devi", "Age" : 23, "Place" : "Malappuram"}, {"Name" : "Nazrin", "Age" : 21, "Place" : "Kottayam"}]

In [7]:
cols.insert_many(values)

InsertManyResult([ObjectId('67eb9ffa75055e79d7d1e371'), ObjectId('67eb9ffa75055e79d7d1e372'), ObjectId('67eb9ffa75055e79d7d1e373')], acknowledged=True)

###

In [9]:
var=cols.find({"Age":21},{"_id":0})
for i in var:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Ernakulam'}
{'Name': 'Nazrin', 'Age': 21, 'Place': 'Kottayam'}

In [10]:
vars=cols.find({"Age":21},{"Name":2,"_id":0})
for i in vars:
    print(i)

{'Name': 'Sandra'}
{'Name': 'Nazrin'}

In [11]:
var1=cols.find({"$and":[{"Age":21},{"Place":"Ernakulam"}]},{"Name":1,"_id":0,"Place":1})
for i in var1:
    print(i)

{'Name': 'Sandra', 'Place': 'Ernakulam'}

In [12]:
var1=cols.find({"$or":[{"Age":21},{"Place":"Ernakulam"}]},{"Name":1,"_id":0,"Place":1})
for i in var1:
    print(i)

{'Name': 'Sandra', 'Place': 'Ernakulam'}
{'Name': 'Nazrin', 'Place': 'Kottayam'}

In [13]:
cond = {"Age":21}
newvalue = {"$set":{"Place":"Calicut"}}
cols.update_many(cond,newvalue)

UpdateResult({'n': 2, 'nModified': 2, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [14]:
conds={"Age":23}
newvalue={"$set":{"Place":"Ernakulam"}}
cols.update_many(conds,newvalue)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [15]:
values =[{"Name":"Shivarama","Age":48,"Place":"Kanyakumari"}]
cols.insert_many(values)

InsertManyResult([ObjectId('67eba05975055e79d7d1e374')], acknowledged=True)

In [16]:
cols.delete_many({"Age":23})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [17]:
var=cols.find({"Age":{"$gt":30}},{"_id":0})
for i in var:
    print(i)

{'Name': 'Shivarama', 'Age': 48, 'Place': 'Kanyakumari'}

In [18]:
var=cols.find({"Age":{"$lt":30}},{"_id":0}) #lt for lesser than gt for greater than
for i in var:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Calicut'}
{'Name': 'Nazrin', 'Age': 21, 'Place': 'Calicut'}

In [19]:
var=cols.find({"Name":{"$regex":"^S"}},{"_id":0})
for i in var:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Calicut'}
{'Name': 'Shivarama', 'Age': 48, 'Place': 'Kanyakumari'}

In [20]:
var=cols.find({"Name":{"$regex":"a$"}},{"_id":0})
for i in var:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Calicut'}
{'Name': 'Shivarama', 'Age': 48, 'Place': 'Kanyakumari'}