In [16]:
import pymongo

conn = pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["mydatabase"]
cols = db["collection1"]

In [35]:
values = [{"Name" : "Sandra", "Age" : 21, "Place" : "Ernakulam"}, {"Name" : "Devi", "Age" : 23, "Place" : "Malappuram"}, {"Name" : "Nazrin", "Age" : 21, "Place" : "Kottayam"}]

In [36]:
cols.insert_many(values)

InsertManyResult([ObjectId('67e2304682b4fb854ad49370'), ObjectId('67e2304682b4fb854ad49371'), ObjectId('67e2304682b4fb854ad49372')], acknowledged=True)

In [37]:
var=cols.find({"Age":21})

In [38]:
for i in var:
    print(i)

{'_id': ObjectId('67e22fe582b4fb854ad4936d'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Ernakulam'}
{'_id': ObjectId('67e22fe582b4fb854ad4936f'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Kottayam'}
{'_id': ObjectId('67e2304682b4fb854ad49370'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Ernakulam'}
{'_id': ObjectId('67e2304682b4fb854ad49372'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Kottayam'}

In [41]:
vars=cols.find({"Age":21},{"Name":2,"_id":0})
for i in vars:
    print(i)

{'Name': 'Sandra'}
{'Name': 'Nazrin'}
{'Name': 'Sandra'}
{'Name': 'Nazrin'}

In [42]:
var1=cols.find({"$and":[{"Age":21},{"Place":"Ernakulam"}]},{"Name":1,"_id":0,"Place":1})
for i in var1:
    print(i)

{'Name': 'Sandra', 'Place': 'Ernakulam'}

In [43]:
var1=cols.find({"$or":[{"Age":21},{"Place":"Ernakulam"}]},{"Name":1,"_id":0,"Place":1})
for i in var1:
    print(i)

{'Name': 'Sandra', 'Place': 'Ernakulam'}
{'Name': 'Nazrin', 'Place': 'Kottayam'}

In [46]:
cond = {"Age":21}
newvalue = {"$set":{"Place":"Calicut"}}
cols.update_many(cond,newvalue)

UpdateResult({'n': 2, 'nModified': 2, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [47]:
conds={"Age":23}
newvalue={"$set":{"Place":"Ernakulam"}}
cols.update_many(conds,newvalue)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [55]:
values =[{"Name":"Shivarama","Age":48,"Place":"Kanyakumari"}]
cols.insert_many(values)

InsertManyResult([ObjectId('67e2353482b4fb854ad49376')], acknowledged=True)

In [ ]:
cols.delete_many({"Age":23})

DeleteResult({'n': 2, 'ok': 1.0}, acknowledged=True)

In [57]:
var=cols.find({"Age":{"$gt":30}},{"_id":0})
for i in var:
    print(i)

{'Name': 'Shivarama', 'Age': 48, 'Place': 'Kanyakumari'}

In [ ]:
var=cols.find({"Age":{"$lt":30}},{"_id":0}) #lt for lesser than gt for greater than
for i in var:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Calicut'}
{'Name': 'Nazrin', 'Age': 21, 'Place': 'Calicut'}

In [65]:
var=cols.find({"Name":{"$regex":"^S"}},{"_id":0})
for i in var:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Calicut'}
{'Name': 'Shivarama', 'Age': 48, 'Place': 'Kanyakumari'}

In [67]:
var=cols.find({"Name":{"$regex":"a$"}},{"_id":0})
for i in var:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Calicut'}
{'Name': 'Shivarama', 'Age': 48, 'Place': 'Kanyakumari'}